body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #EB5B00;
    animation: move 1.5s alternate infinite;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #640D5F;
    color: #FFB200;
    border-bottom: 6px solid #EB5B00;
    border-radius: 20px 0;
    box-shadow: 5px 5px 15px #EB5B00;    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
@keyframes move {
    from {
        transform: translateY(-5px);
        rotate: -5deg;
    }
    to {
        transform: translateY(5px);
        rotate: 5deg;        
    }
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

